header {
  margin-bottom: 64px;
}
h1 {
  font-size: 48px;
  color: rgb(255, 248, 154);
  margin: 0;
}
#description {
  margin: 12px;
}
/* header p {
  margin-bottom: 36px;
} */
a {
  padding: 12px 48px;
  background-color: #ff8aae;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 24px;
  display: inline-block;
  margin: 0;
}
a:hover {
  background-color: #fff89a;
  text-decoration: none;
  color: black;
}
ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}
li {
  padding: 16px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  margin: 32px;
  background-color: cornflowerblue;
  border-radius: 6px;
}
h2 {
  color: #9adcff;
  font-family: "Oswald", sans-serif;
}
main p {
  margin: 12px;
  color: #eeeeee;
}

.highLight-goal {
  background-color: #48b9f5;
}
