body {
  text-align: center;
  background-color: maroon;
}
h1 {
  font-family: "Oswald", sans-serif;
  color: azure;
}

p {
  font-family: "Fira Sans", sans-serif;
  color: whitesmoke;
}

a {
    font-family: 'Fira Sans', sans-serif;
  color: antiquewhite;
  text-decoration: none;
}

a:hover {
  color: rgb(28, 248, 252);
  text-decoration: underline;
}
