body {
  text-align: center;
  background-color: rgb(154, 220, 255);
  margin: 50px;
}
h1 {
  font-family: "Oswald", sans-serif;
  color: rgb(255, 248, 154);
}

p {
  font-family: "Fira Sans", sans-serif;
  color: rgb(255, 178, 166);
}

a {
  font-family: "Fira Sans", sans-serif;
  color: rgb(255, 138, 174);
  text-decoration: none;
}

a:hover {
  color: rgb(28, 248, 252);
  text-decoration: underline;
}
